.env
.venv
.DS_Store
__pycache_
# 忽略所有形如 UUID 的目录（8-4-4-4-12 的格式）
*/[0-9a-fA-F]\{8\}-[0-9a-fA-F]\{4\}-[0-9a-fA-F]\{4\}-[0-9a-fA-F]\{4\}-[0-9a-fA-F]\{12\}/
# 项目根目录下的 UUID 风格目录
/????????-????-????-????-???????????*/
*.sqlite3

.env_bak
